[Desktop Entry]
Name=UNIBO launch
Comment=Global launch for ROS nodes of the rover
NoDisplay=true
Exec=/home/sherpa/SherpaHighLevel/scripts/launch_global.sh
Path=/home/sherpa/SherpaHighLevel/scripts/
Icon=preferences-desktop-remote-desktop
Terminal=false
Type=Application
